/* General styling for the body */
p {
    text-align: justify;
}

body {
    font-family: Arial, sans-serif;
    margin: 40px;
}

/* Center align for the main heading */
h1 {
    text-align: center;
}

/* Styling for metadata section */
.metadata {
    margin-bottom: 20px;
}

.metadata p {
    margin: 5px 0;
}

/* Interactive styling for personal names */
span.personal-name {
    color: blue;
    font-weight: bold;
    cursor: pointer;
}

span.personal-name:hover {
    color: darkblue;
    text-decoration: underline;
}

span.personal-name-2 {
    color: #FF69B4; /* Different color to distinguish */
    font-weight: bold;
    cursor: pointer;
}

span.personal-name-2:hover {
    color: #FF69B4; /* Different hover color */
    text-decoration: underline;
}
span.personal-name-3 {
    color: #87CEFA; /* Different color to distinguish */
    font-weight: bold;
    cursor: pointer;
    
}

span.personal-name-3:hover {
    color:#87CEFA ; /* Different hover color */
    text-decoration: underline;
}
span.personal-name-4 {
    color: #191970; /* Different color to distinguish */
    font-weight: bold;
    cursor: pointer;
}

span.personal-name-4:hover {
    color: #191970; /* Different hover color */
    text-decoration: underline;
}

span.personal-name-5 {
    color: #000080; /* Different color to distinguish */
    font-weight: bold;
    cursor: pointer;
}

span.personal-name-5:hover {
    color: #000080; /* Different hover color */
    text-decoration: underline;
}

/* Interactive styling for place names */
span.place-name {
    color:  #FFD700;
    font-weight: bold;
    cursor: pointer;
}

span.place-name:hover {
    color:  #FFD700;
    text-decoration: underline;
}

span.place-name-2 {
    color:  #DAA520;
    font-weight: bold;
    cursor: pointer;
}

span.place-name-2:hover {
    color:  #DAA520;
    text-decoration: underline;
}
