/* General styling for the body */
p {
    text-align: justify;
}

body {
    font-family: Arial, sans-serif;
    margin: 40px;
}

/* Center align for the main heading */
h1 {
    text-align: center;
}

/* Styling for metadata section */
.metadata {
    margin-bottom: 20px;
}

.metadata p {
    margin: 5px 0;
}

/* Interactive styling for personal names */
span.personal-name {
    color: blue;
    font-weight: bold;
    cursor: pointer;
}

span.personal-name:hover {
    color: darkblue;
    text-decoration: underline;
}

span.personal-name-2 {
    color: #FF69B4; /* Different color to distinguish */
    font-weight: bold;
    cursor: pointer;
}

span.personal-name-2:hover {
    color: #FF69B4; /* Different hover color */
    text-decoration: underline;
}
span.personal-name-3 {
    color: #87CEFA; /* Different color to distinguish */
    font-weight: bold;
    cursor: pointer;
    
}

span.personal-name-3:hover {
    color:#87CEFA ; /* Different hover color */
    text-decoration: underline;
}
span.personal-name-4 {
    color: #191970; /* Different color to distinguish */
    font-weight: bold;
    cursor: pointer;
}

span.personal-name-4:hover {
    color: #191970; /* Different hover color */
    text-decoration: underline;
}

span.personal-name-5 {
    color: #000080; /* Different color to distinguish */
    font-weight: bold;
    cursor: pointer;
}

span.personal-name-5:hover {
    color: #000080; /* Different hover color */
    text-decoration: underline;
}

span.personal-name-6 {
    color: ##9400D3; /* Different color to distinguish */
    font-weight: bold;
    cursor: pointer;
}

span.personal-name-6:hover {
    color: ##9400D3; /* Different hover color */
    text-decoration: underline;
}

span.personal-name-7 {
    color: #DB7093; /* Different color to distinguish */
    font-weight: bold;
    cursor: pointer;
}

span.personal-name-7:hover {
    color: #DB7093; /* Different hover color */
    text-decoration: underline;
}
span.personal-name-8 {
    color: #DB7093; /* Different color to distinguish */
    font-weight: bold;
    cursor: pointer;
}

span.personal-name-8:hover {
    color: #DB7093; /* Different hover color */
    text-decoration: underline;
}

span.personal-name-9 {
    color: #4682B4; /* Different color to distinguish */
    font-weight: bold;
    cursor: pointer;
}

span.personal-name-9:hover {
    color: #4682B4; /* Different hover color */
    text-decoration: underline;
}

span.personal-name-10 {
    color: #FF69B4; /* Different color to distinguish */
    font-weight: bold;
    cursor: pointer;
}

span.personal-name-10:hover {
    color: #FF69B4; /* Different hover color */
    text-decoration: underline;
}

span.personal-name-11 {
    color: #7b9acb; /* Different color to distinguish */
    font-weight: bold;
    cursor: pointer;
}

span.personal-name-11:hover {
    color: #7b9acb; /* Different hover color */
    text-decoration: underline;
}

span.personal-name-12 {
    color: #7b9acb; /* Different color to distinguish */
    font-weight: bold;
    cursor: pointer;
}

span.personal-name-12:hover {
    color: #7b9acb; /* Different hover color */
    text-decoration: underline;
}
/* Interactive styling for place names */
span.place-name-1 {
    color:  #FFF0F5;
    font-weight: bold;
    cursor: pointer;
}

span.place-name:hover {
    color:  #FFD700;
    text-decoration: underline;
}

span.place-name-2 {
    color:  #DAA520;
    font-weight: bold;
    cursor: pointer;
}

span.place-name-2:hover {
    color:  #DAA520;
    text-decoration: underline;
}

span.place-name-3 {
    color:  #8cc469;
    font-weight: bold;
    cursor: pointer;
}

span.place-name-3:hover {
    color:  #8cc469;
    text-decoration: underline;
}
